body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 20px;
}
.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    box-shadow: none;
}
.search-container input{
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    box-shadow: none;
}
.divisao{
    display: flex;
    justify-content: space-evenly;
    
}
.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.mobile-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    z-index: 1;
}
.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
.mobile-nav ul li {
    padding: 10px;
}
.mobile-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.prev {
    left: 100px;
}

.next {
    right: 100px;
}
/* ---------------- */

.banner {
    text-align: center;
    padding: 15px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.banner-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.banner {

    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

.banner img {
    width: 380px;
    height: 190px;
    object-fit: cover;
    display: block;
    margin: 0 auto 5px;
    border-radius: 5px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 1;
}
.modal.active {
    display: block;
}
.form-wrapper-pessoal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .form-container-pessoal {
    max-width: 400px;
    width: 100%;
    padding: 40px 30px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
  }

  .form-container-pessoal h2 {
    color: #333;
    margin-bottom: 30px;
  }

  .form-container-pessoal label {
    display: block;
    text-align: left;
    font-size: 13px;
    color: #888;
    margin-bottom: 5px;
  }

  .form-container-pessoal input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .form-buttons-pessoal {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .btn-pessoal {
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }

  .btn-voltar-pessoal {
    background: transparent;
    color: #d40000;
    border: 1px solid #d40000;
  }

  .btn-salvar-pessoal {
    background: #d40000;
    color: #fff;
  }

  .btn-pessoal:hover {
    opacity: 0.9;
  }
@media (max-width: 1200px) {
    .navbar nav, .icons {
        display: none;
    }
    .menu-toggle {
        display: block;
        margin-left: auto;
    }
    .mobile-nav.active {
        display: flex;
    }
    .store-list {
        padding-left: 15px;
        padding-right: 10px;
    }
    .logo {
        width: 20px;
    }
    .location {
        display:none;
    }
    .prev {
        left: 40px;
    }
    
    .next {
        right: 40px;
    }
    .filters {
        padding: 15px;
        padding-left: 10%;
    }
    .modal {
        width: 200px;
    }
    #openModalBtn{
        display: none;
    }
}
@media (max-width: 435px) {
    .search-bar input {
    width: 45px;
    }
    .logo {
        font-size: 18px;
    }
    .banner img {
        width: 235px;
        height: 100px;
        object-fit: cover;
        display: block;
        margin: 0 auto 5px;
        border-radius: 5px;
    }
    .filters {
        padding: 15px;
        padding-left: 10%;
    }
    .modal {
        width: 200px;
    }
    #openModalBtn{
        display: none;
    }

}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    padding-left: 17%;
}

.filters button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
}

.filter-menu.active {
    display: block;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.filter-header h3 {
    margin: 0;
    font-size: 18px;
}

.filter-tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-top: 10px;
}

.filter-tabs span {
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}

.filter-tabs span.active {
    color: red;
    border-bottom: 2px solid red;
}

.filter-content {
    padding: 10px 0;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.filter-options button {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.apply-filter {
    background: red;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.store-list {
    padding-left: 0px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.store {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.store:hover {
    transform: scale(1.02);
}

.store img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.store-info {
    display: flex;
    flex-direction: column;
}

.store-info strong {
    font-size: 16px;
}

.store-info span {
    font-size: 14px;
    color: #666;
}


.categories {
    text-align: center;
    padding: 15px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.category-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.category {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

.category img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    display: block;
    margin: 0 auto 5px;
    border-radius: 5px;
}



/* --------------- */


.close-btn {
    cursor: pointer;
    font-size: 32px;
    float: right;
    margin: 15px 40px 0px 0px;
}
.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}
.location-icon {
    cursor: pointer;
}
.menu-list {
    list-style: none;
    padding: 0;
}
.menu-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.menu-list li:hover{
    color: #ee5d5d;
}
.menu-list li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.nome{
    display: flex;
}
#openModalBtn {
    background-color: #ff4f5a;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#openModalBtn:hover {
    background-color: #e0434e;
}
#openModalBtn-mobile {
    background-color: #ff4f5a;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#openModalBtn-mobile:hover {
    background-color: #e0434e;
}
.modal_loc {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal_loc-content {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Imagem no topo */
.modal-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.modal-image img {
    width: 100px;
    height: auto;
}

/* Fechar modal */
.close_loc {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* Campo de busca */
.search-container {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

#addressSearch {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 16px;
}

/* Botão "Usar minha localização" */
.use-location-btn button {
    background-color: #ff4f5a;
    color: white;
    border: none;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}
#saveAddress {
    margin: 5px;
    background-color: #ff4f5a;
    color: white;
    border: none;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 20%;
}
.buttons-address{
    display: flex;
    justify-content: flex-end;
}
.use-location-btn button:hover {
    background-color: #e0434e;
}

/* Link para login */
.login-text {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.login-link {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
/* 🔥 Ajusta a modal para centralização */
.modal {
    display: none; /* Oculta por padrão */
    position: fixed;
    z-index: 1000;
    left: 88%;
    top: 50%;
    width: 300px; /* Ajuste conforme necessário */
    max-width: 90%;
    background: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

/* 🔥 Fundo escurecido para modal */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* 🔥 Botão de fechar */
.modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.selected-address {
    border: 2px solid #007bff; /* Azul para indicar seleção */
    background-color: #f0f8ff; /* Azul claro para destacar */
}

